{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <title>EasyFunds4You - Log in </title>
  
	<!-- Vendors Style-->
	<link rel="stylesheet" href="{% static 'css/vendors_css.css' %}">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/skin_color.css' %}">	

</head>
	
<body class="hold-transition theme-primary bg-img" style="background-image: url({% static 'images/auth-bg/bg-1.jpg' %})">
	
	<div class="container h-p100">
		<div class="row align-items-center justify-content-md-center h-p100">	
			
			<div class="col-12">
				<div class="row justify-content-center g-0">
					<div class="col-lg-5 col-md-5 col-12">
						<div class="bg-white rounded10 shadow-lg">
							<div class="content-top-agile p-20 pb-0">
								<h2 class="text-primary">Let's Get Started</h2>
								<p class="mb-0">Sign in to continue to EasyFunds4You.</p>							
							</div>
							<div class="p-40">
								<form action="#" method="post">
                                    {% csrf_token %}
                                    {% if form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            {{ form.non_field_errors }}
                                        </div>
                                    {% endif %}
									<div class="form-group">
										<div class="input-group mb-3">
											<span class="input-group-text bg-transparent"><i class="glyphicon glyphicon-user"></i></span>
                                            {{ form.username }}
                                            {% if form.username.errors %}
                                                <div class="text-danger">
                                                    {{ form.username.errors }}
                                                </div>
                                            {% endif%}
										</div>
									</div>
									<div class="form-group">
										<div class="input-group mb-3">
											<span class="input-group-text  bg-transparent"><i class="glyphicon glyphicon-lock"></i></span>
                                            {{ form.password }}
                                            {% if form.password.errors %}
                                                <div class="text-danger">
                                                    {{ form.password.errors }}
                                                </div>
                                            {% endif %}
										</div>
									</div>
									  <div class="row">
										<!-- /.col -->
										<div class="col-12 text-center">
										  <button type="submit" class="btn btn-danger mt-10">SIGN IN</button>
										</div>
										<!-- /.col -->
									  </div>
								</form>	
									
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Vendor JS -->
	<script src="{% static 'js/vendors.min.js' %}"></script>
	<script src="{% static 'js/pages/chat-popup.js' %}"></script>
    <script src="{% static 'assets/icons/feather-icons/feather.min.js' %}"></script>	

</body>
</html>
