{% extends 'base.html' %}
{% block main-content %}
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h4 class="page-title">Clients Form</h4>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Forms</li>
								<li class="breadcrumb-item active" aria-current="page">Clients</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">
			<div class="row">			  
				<div class="col-lg-12 col-12">
					  <div class="box">
						<div class="box-header with-border">
						  <h4 class="box-title">Add Client Form</h4>
						</div>
						<!-- /.box-header -->
						<form class="form" method="post" action="#">
							{% csrf_token %}
							<!-- Non-field errors (form-wide) -->
							{% if form.non_field_errors %}
								<div class="alert alert-danger">
									{{ form.non_field_errors }}
								</div>
							{% endif %}
							<div class="box-body">
								<h4 class="box-title text-info mb-0"><i class="ti-user me-15"></i> Personal Info</h4>
								<hr class="my-15">
								<div class="row">
								  <div class="col-md-6">
									<div class="form-group">
									  	<label class="form-label">{{form.first_name.label_tag}}</label>
									  	{{form.first_name}}
									  	{% if form.first_name.errors %}
											<div class="text-danger">
												{{ form.first_name.errors }}
											</div>
									  	{% endif %}
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group">
									  	<label class="form-label">{{form.last_name.label_tag}} </label>
										{{form.last_name}}
									  	{% if form.last_name.errors %}
											<div class="text-danger">
												{{ form.last_name.errors }}
											</div>
										{% endif %}
									</div>
								  </div>
								</div>
								<div class="row">
								  <div class="col-md-6">
									<div class="form-group">
										<label class="form-label">{{form.client_type.label_tag}}</label>
									  	{{form.client_type}}
									  	{% if form.client_type.errors %}
											<div class="text-danger">
												{{ form.client_type.errors }}
											</div>
									  	{% endif %}
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group">
									  	<label class="form-label">{{form.status.label_tag}}</label>
									  	{{form.status}}
										{% if form.status.errors %}
											<div class="text-danger">
												{{ form.status.errors }}
											</div>
									  	{% endif %}
									</div>
								  </div>
								</div>
								<h4 class="box-title text-info mb-0 mt-20"><i class="ti-save me-15"></i> Requirements</h4>
								<hr class="my-15">
								<div class="form-group">
								  	<label class="form-label">{{form.national_id.label_tag}}</label>
								  	{{form.national_id}}
									{% if form.national_id.errors %}
										<div class="text-danger">
											{{ form.national_id.errors }}
										</div>
									{% endif %}
								</div>
								
								<div class="form-group">
								  	<label class="form-label">{{form.phone_number.label_tag}}</label>
								  	{{form.phone_number}}
									{% if form.phone_number.errors %}
										<div class="text-danger">
											{{ form.phone_number.errors }}
										</div>
									{% endif %}
								</div>

								<div class="form-group">
								  <label class="form-label">{{form.address.label_tag}}</label>
								  {{form.address}}
								  {% if form.address.errors %}
									  <div class="text-danger">
										  {{ form.address.errors }}
									  </div>
								  {% endif %}
								</div>
							</div>
							<!-- /.box-body -->
							<div class="box-footer">
								<button type="button" class="btn btn-warning me-1">
								  <i class="ti-trash"></i> Cancel
								</button>
								<button type="submit" class="btn btn-primary">
								  <i class="ti-save-alt"></i> Save
								</button>
							</div>  
						</form>
					  </div>
					  <!-- /.box -->			
				</div>  
		    </div>
			

		</section>
		<!-- /.content -->
{% endblock main-content %}